"*":
  "atom-beautify":
    _analyticsUserId: "513b7198-896f-497c-a7f0-6e2069e37125"
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin"
    erlangHome: "/usr/local/bin"
  "autocomplete-plus": {}
  autosave:
    enabled: true
  core:
    telemetryConsent: "no"
  editor:
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "d8ccf920-0764-c982-23e4-fb68808f9c9c"
  "file-icons":
    onChanges: true
  "gist-it":
    newGistsDefaultToPrivate: true
    userToken: "62b1735b83c72ec253d2c829c2d3922a41304467"
  "git-plus": {}
  latex:
    engine: "platex"
    texPath: "/Library/TeX/texbin/"
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  rspec:
    command: "bundle exec rspec"
  "status-bar": {}
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
